body {
  text-align: center;
}

h1 {
  color: purple;
  padding: 10px;
  text-align: center;
  border: 2px solid violet;
  width: 320px;
  background-color: thistle;
  display: inline-block;
  border-radius: 10px;
}

.reset {
  position: relative;
  align-content: center;
  text-align: center;
  margin: 10px;
}

.board {
  background-color: grey;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  padding: 10px;
  
}

.cell {
  width: 100px;
  height: 100px;
  float: left;
  font-size: 6em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

.cell:hover {
  background-color: lightgray;
}

#cell0, #cell1, #cell2, #cell3, #cell4, #cell5 {
  border-bottom: 10px solid darkgray;
}

#cell0, #cell1, #cell3, #cell4, #cell6, #cell7 {
  border-right: 10px solid darkgray;
}

.result {
  display: inline-block;
  text-align: center;
  width: 320px;
  color: white;
  font-size: 3em;
  padding: 10px;
  line-height: 50px;
  background-color: red;
}